html {
  scroll-behavior: smooth;
}

.wallpaper{
  background-image: url('https://global.discourse-cdn.com/pocketgems/uploads/episodeinteractive/original/4X/b/2/1/b21b641ab457723b3c90d2fe3ced5364a53e7523.jpeg');
  border-radius:0;
  background-repeat: repeat;
  background-size: 100%;
}

.logo-pic {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-radius: 1.5rem;
  border-style: solid;
  background-color: white;
}

.menu-links {
  gap: 3.5rem;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  margin-right: 30px;
}

a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

a:hover {
  opacity: 1;
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  transition: 0.4s;
}

/*HOME*/

#home {
  position: relative;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 15vh;
}

.title {
  font-family: cursive;
  font-size: 80px;

}

.subtitles {
  font-family: cursive;
}

.title-1{
  font-family: cursive;
  font-size: 80px;
  color:white;
}

.subtitles-1{
  font-family: cursive;
  color:white;
}
/*discover section*/

#discover{
  gap: 5rem;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 15vh;
}

.apartment-display {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.apt-img {
  border-style: solid;
  border-radius: 1.5rem;
  gap: 5rem;
  border-width: 2px;
  background-color: white;
}

.apt-pics {
  height: 85%;
  width: 85%;
  padding-top: 5px;
}

.fancy-text {
  text-align: center;
  font-family: cursive;
}

.Search-section {
  border-radius: 1.5rem;
  border-style: solid;
  background-color: rgba(211, 211, 211);
}

.search-text {
  font-family: cursive;
  display: flex;
}


/*search bar*/


#locationInput{
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 10px;
  display: flex;
  z-index: 3;
  width: 600px;
  height: 44px;
  margin: 20px;
  margin-left: 400px;

}
#maxRentInput{
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 10px;
  display: flex;
  z-index: 3;
  width: 600px;
  height: 44px;
  margin: 20px;
  margin-left: 400px;  
}
#minRentInput{
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 10px;
  display: flex;
  z-index: 3;
  width: 600px;
  height: 44px;
  margin: 20px;
  margin-left: 400px;
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 1.5rem;
  border-style: solid;
  background-color: rgb(244, 244, 244);
}

.btn:hover{
  background-color: gray;
  transition: 0.3s;
  color: white;
  
}

#propertyIdInput{
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 10px;
  display: flex;
  z-index: 3;
  width: 600px;
  height: 44px;
  margin: 20px;
  margin-left: 400px;
}

/*about*/


#about{
  position: relative;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 15vh;
}

.Big-titles {
  font-size: 50px;
  font-family: cursive;
}

.about-pic {
  width: 700px;
  height: 303px;
  display: flex;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info-details {
  border-style: none;
  background-color: rgb(222, 222, 222);
}

.side-text {
  text-align: left;
  display: block;
}

.apt-link{
  color: blue;
}

.apt-link:hover{
   text-decoration: none;
   opacity: none;
   transition: none;
   color: blue;
}


/*Contacts*/

#contacts{
   position: relative;
   gap: 5rem;
   margin-top: 15vh;
   justify-content: center;
   text-align: center;
   background-color: white;
}

.contacts-container{
  border-radius: none;
  border-style: solid;
  background-color:rgb(222, 222, 222);
}

ul{
  list-style: none;
}

.email-link{
  color: green;
}

.email-link:hover{
  text-decoration: none;
  opacity: 1;
  transition: 0.4s;
  color: rgb(70, 128, 120);
  box-shadow: black;

}
